.DS_Store
venv/
.idea

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

config.json

test.*

bioenv/
static/materials/network_data/uniprot_ssn

static/Download/Characterization.tar.gz
static/Download/Sequence_Similarity_Network.tar.gz
static/Download/Swiss-Prot.tar.gz
static/Download/TrEMBL.tar.gz

