{
	"database":{
		"username":"root",
		"password":"12345678",
		"hostname":"localhost",
		"port":"3306",
		"db_name":"db"
	},
	"website":{
		"title":"Website Title",
		"FullName":"FullName",
		"keywords":"Keywords for SEO",
		"key":"Something Random here"
	},
	"recaptcha":{
	# Apply at https://www.google.com/recaptcha/admin, V2
	    "RECAPTCHA_PUBLIC_KEY":"key-wXv5P7101gC",
	    "RECAPTCHA_PRIVATE_KEY":"key-zkklxfw3HkIcdyk"
	}
}

