{
	"database":{
		"username":"root",
		"password":"12345678",
		"hostname":"localhost",
		"port":"3306",
		"db_name":"db"
	},
	"website":{
		"title":"Website Title",
		"FullName":"FullName",
		"keywords":"Keywords for SEO",
		"key":"Something Random here"
	},
	"captcha":{
	    # Apply at hcaptcha.com
        "hcaptcha_public_key":"xxxxx-xxxx-xxxx-xxxxx-xxxxxxxxx",
        "hcaptcha_private_key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    }
}

