<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- BRAND -->
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#alignment-example"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigatsion</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.unl.edu">
                <img alt="Brand" class="navbar-brand"
                     src="{{ url_for('static', filename='images/unl.svg') }}"></a>
            <a class="navbar-brand" href="{{ url_for('index') }}">{{ config['title'] }}</a>
        </div>

        <!-- COLLAPSIBLE NAVBAR -->
        <div class="collapse navbar-collapse" id="alignment-example">

            <!-- Links -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href=""
                       role="button">Class <span class="caret"></span></a>
                    <ul aria-labelledby="about-us" class="dropdown-menu">
                        <li><a href="{{ url_for('classes', class_id = 'ORs') }}">ORs</a></li>
                        <li><a href="{{ url_for('classes', class_id = 'FRs') }}">FRs</a></li>
                        <li><a href="{{ url_for('classes', class_id = 'HRs') }}">HRs</a></li>
                        <li><a href="{{ url_for('classes', class_id = 'NCRs') }}">NCRs</a></li>
                        <li><a href="{{ url_for('classes', class_id = 'IRs') }}">IRs</a></li>
                        <!--<li><a href="{{ url_for('classes', class_id = 'SRs') }}">SRs</a></li>-->
                        <!--<li><a href="{{ url_for('classes', class_id = 'TRs') }}">TRs</a></li>-->
                        <li><a href="{{ url_for('classes', class_id = 'UCs') }}">UCs</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('characterized') }}">Characterized</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('uhgp_home') }}">UHGP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blast') }}">Blast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('statistics') }}">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('polyphenol') }}">Polyphenol</a>
                </li>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href=""
                           role="button">Taxonomy <span class="caret"></span></a>
                        <ul aria-labelledby="about-us" class="dropdown-menu">
                            <li><a href="{{ url_for('taxonomy_family', family_id = 'UHGP') }}">Homologs from UHGP</a>
                            </li>
                            <li><a href="{{ url_for('taxonomy_family', family_id = 'UniProt') }}">Homologs from
                                UniProt</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('download') }}">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('help') }}">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                </ul>


        </div>

    </div>
</nav>

<!-- Initialize Bootstrap functionality -->
<script>
    // Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function () {
        $("[data-toggle='popover']").popover({trigger: 'hover click'});
    });
</script>
