<!DOCTYPE html>
<html lang="en">
{% include '_head.html'%}
<body>
	{% include '_header.html' %}
	<div class="container-fluid">
		{% block content %}{% endblock %}
	</div>
	{% include '_footer.html' %}
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#data-table').DataTable( {
	        dom: 'Bfrtip',
	        buttons: [
	            {
	            	extend: 'csvHtml5',
	            	fieldBoundary: '',
	            	text: 'export',
	            	exportOptions:{
	            		columns: [-1]
	            	}
	            },
                {
                    extend: 'copy',
	            	fieldBoundary: '',
	            	text: 'copy',
	            	exportOptions:{
	            		columns: [-1]
	            	}
                }
	        ],
	        select: true
	    } );
	} );
	</script>
</body>
</html> 
