{% extends 'base.html' %}

{% block title %}Blastx{% endblock %}

{% block content %}
<div class="form" id="form">
    <div class="row">
        <div class="page-header">
            <h3>{{ name }}</h3>

        </div>
    </div>

    <div class="familyInformation">
        {{ content|safe }}
    </div>
    <br>
    <div class="container">
        <form id="blastx-form" name="blastx-form" action="{{ url_for('blast') }}" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul style="color:red;" class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
                        Program<select name="job" id="job">
                <option value="no">--Please choose an option--</option>
                <option value="p">blastp - (protein vs protein)</option>
                <option value="x">blastx - (DNA vs protein)</option>
                </select>
                <br>
            <div style="text-align:left;">
                <label for="subject" style="color:blue"> <b> I. Paste the sequence in the textarea. </b> </label> <br>
                <span style="font-size:1em;">Try <a id="id_example" href="#" style="color:blue;" value="protein"> example </a> sequences.</span>
            </div>
            {{ form.hidden_tag() }}
            <textarea placeholder="" style="min-height:100px" rows="10" name="id_sequences"
                      id="id_sequences"></textarea>
            <br>
            <div style="text-align:left;">
                <label for="subject" style="color:blue"> <B> II. Or upload the sequence file. </B> </label> <br>
                <span style="font-size: 1em;text-align:left;">File in Fasta format</span>
                <input style="border-style: dotted;" type="file" id='id_file' name="id_file" value=""
                       onchange='validateFasta(this.files)'/>
                <input type="hidden" id="id_file_text" name="id_file_text">
            </div>
            <br>
            {{ form.recaptcha(class="form-control") }}
        </form>
        {% for message in form.recaptcha.errors %}
            <div style="color:red;">{{ message }}</div>
        {% endfor %}
        <a class="btn btn-primary"
           onclick="document.getElementById('id_file').value = ''; document.getElementById('blastx-form').submit();program()">Run Blastx</a>

        <script type="text/javascript">
        function program(){
            var select = document.getElementById("job").value;
            if (select=="no") {
                alert("You must select a program you want to run")
                return false 
            }
            document.getElementById("form").style.display = "none";
            document.getElementById("spinner").style.display = "inline";

        }
        
            function validateFasta(files) {
                var validFasta = true;
                var f = document.getElementById("id_file");
                var file = files[0];
                if (file.size / 1024 / 1024 > 20) {
                    alert("Max file size is 20 MB. Please upload a smaller file.");
                    f.value = "";
                    return;
                }
                // for file size
                var reader = new FileReader();
                reader.onload = function (e) {
                    var text = reader.result;
                    document.getElementById('id_file_text').value = text;
                }
                reader.readAsText(file)
                return validFasta;
            }
        </script>

        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            * {
                box-sizing: border-box;
            }

            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
            }

            input[type=submit] {
                background-color: #4CAF50;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #45a049;
            }

            .container {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                $('a#id_example').click(function () { // click event
                    document.getElementById('id_sequences').value = ">tr|D7F2D8|D7F2D8_BACIU\nMFKFKKKFLVGLTAAFMSISMFSATASAAGTDYWQNWTDGGGTVNAVNGSGGNYSVNWSNTGNFVVGKGWTTGSPFRTINYNAGVWAPNGNGYLTLYGWTRSPLIEYYVVDSWGTYRPTGTYKGTVKSDGGTYDIYTTTRYNAPSIDGDNTTFTQYWSVRQSKRPTGSNAAITFSNHVNAWKSHGMNLGSNWAYQVLATEGYKSSGSSNVTVW"
                })
            })
        </script>
    </div>
</div>
<div class="spinner" id="spinner" style="display: none;">
  TODO: It might take a while, please do not leave the page
</div>

<style>

</style>
{% endblock %}