{% extends 'base.html' %}

{% block content %}
<div class="abstractOfPage" style="margin-bottom: 50px">
    <div class="familyList">
        <h1>
            Family List
        </h1>
        <ul class="breadcrumb" style="font-size: medium">
            {% for i in range(40) %}
                <li><a href="{{ url_for('characteristic', family_id = i + 1) }}">{{ i + 1 }}</a> <span class="divider"></span>
                </li>
            {% endfor %}

        </ul>
    </div>
    <div class="informationOfGene">
        <h1>
            Family Introduction
        </h1>
        <p>We .......</p>
    </div>
</div>
<table class="table" id="data-table">
    <thead>
        <tr>
            <th>number</th>
            <th>strain</th>
            <th>protein name</th>
            <th>gene name</th>
            <th>UniqueIdentifier</th>
            <th>E.C</th>
            <th>substrate</th>
            <th>production</th>
            <th>PDB</th>
            <th>Km(uM)</th>
            <th>Vmax</th>
            <th>Kcat</th>
            <th>DOI</th>
            <th>family</th>
            <th>Sequence</th>
            <th hidden></th>
        </tr>
    </thead>
    <tbody>
        {% for record in records: %}
        <tr>
            <td>{{ record.number }}</td>
            <td>{{ record.strain }}</td>
            <td>{{ record.protein_name }}</td>
            <td>{{ record.gene_name }}</td>
            <td>{{ record.uniq_id }}</td>
            <td>{{ record.ec }}</td>
            <td>{{ record.substrate }}</td>
            <td>{{ record.production }}</td>
            <td>{{ record.pdb }}</td>
            <td>{{ record.km }}</td>
            <td>{{ record.vmax }}</td>
            <td>{{ record.kcat }}</td>
            <td>{{ record.doi }}</td>
            <td>
                <a href="{{ url_for('family', family_id = record.family) }}">{{ record.family }}</a>
            </td>
            <td>
                <a href={{ url_for('detail', unid = record.uniq_id) }}>view</a>
            </td>
            <td>
                <p hidden>> {{record.uniq_id}} {{record.seq}}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


