{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<style>
.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
</style>
    <div class="row">
        <div class="page-header">
            <h3>{{ name }}</h3>

        </div>
    </div>
    
<div class="container"> 
<h4>Treble Data</h4>
<a href="/static/download.exe" download>
<button type="button" class="btn btn-primary float-right">Download</button></a>
</div>

<br>

<div class="container"> 
<h4>Swiss Data</h4>
<a href="/static/download.exe" download>
<button type="button" class="btn btn-primary float-right" href="https://ucomm.unl.edu/images/brand-book/Our-marks/nebraska-n.jpg" download>Download</button></a>
</div>

<br>

<div class="container"> 
<h4>Evidence Data</h4>
<a href="/static/download.exe" download>
<button type="button" class="btn btn-primary float-right">Download</button></a>
</div>

{% endblock %}