{% extend 'base.html'%}

{% block title%} Extend Swiss Data {% endblock %}
{% block content%}
<div class = "abstractOfPage">
  <div class = "informationOfGene">
    <h1>
      Characterize
    </h1>
    <p>1	C-ring cleavage quercetin	Bacillus subtilis (strain 168)	a tryptophan auxotroph isolated after X-rays mutagenesis of B. subtilis Marburg strain 	Quercetin 2,3-dioxygenase	P42106 	Cupin_2	reviewed	qdoI	1.13.11.24	yes	quercetin	2-(3,4-dihydroxybenzoyloxy)-4,6-dihydroxybenzoate	1Y3T, 2H0V	swiss-model	3.8 (for quercetin)	2		10.1016/S0014-5793(03)01439-X	Bacillus subtilis YxaG is a novel Fe-containing quercetin 2,3-dioxygenase</p>
  </div>
</div>
<ul class="breadcrumb">
  <li><a href="/work">Characterize</a> <span class="divider">/</span></li>
  <li><a href="/extendSwissData">Swissport</a><span class="divider">/</span></li>
  <li class="active">EML</li>
</ul> 
{% endblock %}