{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h3>This is family page<small>Subtext for header</small></h3>

        </div>
    </div>
    <!-- Main Content Area-->
    {% if family_id == 'all' %}
        <div class="familyInformation">
            <h1>Family Information</h1>
            <p style="font-size: medium">Please go to Home page to select a family.</p>
        </div>
    {% endif %}

    {% if family_id != 'all' %}
        <div class="familyInformation">
            {{ content|markdown }}
        </div>
        <div class="subFamily">
            <h1>Subfamily</h1>
            <ul class="breadcrumb" style="font-size: medium">
                {% for i in range(amount) %}
                    {% set family_id = family_id + '_' + (i + 1)|string() %}
                    <li><a href="{{ url_for('subfamily', family_id = family_id) }}">{{ family_id }}</a> <span
                            class="divider"></span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="familyResource">
            <h1>Family Resource</h1>
            <ul class="breadcrumb" style="font-size: medium">
                <li>
                    <button><a href="{{ url_for('swissport', family_id = family_id) }}">Swissport</a></button>
                </li>
                <li>
                    <button><a href="{{ url_for('trembl', family_id = family_id) }}">treMBL</a></button>
                </li>
                <li>
                    <button><a href="{{ url_for('tree', family_id = family_id) }}">Tree of SwissportL</a></button>
                </li>
                <li>
                    <button><a href="{{ url_for('network', family_id = family_id) }}">Network</a></button>
                </li>


            </ul>
        </div>
    {% endif %}
{% endblock %}
