{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Main Content Area-->
    {% for element in sub %}
        <a href= {{ element[2] }}>{{ element[0] }}</a>{{ element[1] }};
    {% endfor %}

    <div class="row">
        <div class="page-header">
            <h3>This is home<small>Subtext for header</small></h3>

        </div>
    </div>
    <div class="familyList">
        <h1>
            Class List
        </h1>
        <ul class="breadcrumb" style="font-size: medium">
            <li><a href="{{ url_for('classes', class_id = 'ORs') }}">ORs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'FRs') }}">FRs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'HRs') }}">HRs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'NCRs') }}">NCRs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'IRs') }}">IRs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'SRs') }}">SRs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'TRs') }}">TRs</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('classes', class_id = 'UCs') }}">UCs</a> <span
                    class="divider"></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <image src="../static/materials/characterized_protein.png" width="100%"
                   onclick="window.open('../static/images/seed.pdf')"></image>
            {{ content|markdown|safe }}
        </div>
        <div class="col-lg-4">
            <div class="page_list">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/">Home</a></li>
                    <li class="list-group-item"><a href="/characteristic/all">Evidence</a></li>
                    <li class="list-group-item"><a href="/swissport/all">Swiss-Prot</a></li>
                    <li class="list-group-item"><a href="/trembl/all">TrEMBL</a></li>
                    <li class="list-group-item"><a href="/tree/all">Phylogeny</a></li>
                    <li class="list-group-item"><a href="/network/all">Sequence Similarity Network</a></li>
                </ul>
            </div>
            <div class="reserved_list">
                <p>
                    In version 3.6 (June 2015), 1451 new content values for lignans have been added to the database.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
