{% extends 'base.html' %}

{% block title %}Network{% endblock %}

{% block content %}
    <style>
        .myimg {
            border: 2px solid #ddd;
            border-radius: 6px;
            padding: 5px;
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="row">
        <div class="page-header">
            <h3>Network for {{ name }}</h3>
        </div>
    </div>

    <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('trembl', family_id = name ) }}">Open TrEMBL for {{ name }}</a>

    <div id="introduction">
        <p style="font-size: x-large">Tree diagrams originated in the medieval era to represent genealogical
            relationships.

            Phylogenetic tree diagrams in the evolutionary sense date back to at least the early 19th century.

            The term phylogeny for the evolutionary relationships of species through time was coined by Ernst Haeckel,
            who went further than Darwin in proposing phylogenic histories of life. In contemporary usage, tree of life
            refers to the compilation of comprehensive phylogenetic databases rooted at the last universal common
            ancestor of life on Earth. The Open Tree of Life, first published September 2015, is a project to compile
            such a database for free publ{c access.</p></div>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#{{ name }}" data-toggle="tab">{{ name }}</a>
        </li>
        {% for i in finalfile %}
            <li><a href="#{{ i }}" data-toggle="tab">{{ i }}</a></li>
        {% endfor %}
    </ul>
    <div id="myTabContent" class="tab-content">
        <br>
        <div class="tab-pane fade in active" id="{{ name }}">
            <img class="myimg" src="{{ url_for('static', filename='images/SSN_figures/') }}{{ name }}.jpg">
        </div>
        {% for i in finalfile %}
            <div class="tab-pane fade" id="{{ i }}">
                <img class="myimg" src="{{ url_for('static', filename='images/SSN_figures/') }}{{ i }}.jpg" alt="{{ i }}">
            </div>
        {% endfor %}
    </div>

{% endblock %}