{% extends 'base.html' %}

{% block title %}subfamily{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h3>{{ name }}</h3>

        </div>
    </div>
    <div class="familyResource">
        <h1>Subfamily Sequences</h1>
        <ul class="breadcrumb" style="font-size: medium">
            <li>
                <button><a href="{{ url_for('swissport', family_id = family_id) }}">Swiss-Prot</a></button>
            </li>
            <li>
                <button><a href="{{ url_for('trembl', family_id = family_id) }}">TrEMBL</a></button>
            </li>
        </ul>
    </div>
    <br>
    <!-- Main Content Area-->
    <div class="familyInformation">
        {{ content|safe }}
    </div>
{% endblock %}
