{% extends 'base.html' %}

{% block title %} treMBL Data {% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h3>This is TrEMBL page<small>Subtext for header</small></h3>

        </div>
    </div>
    <!--<div class="familyList">-->
    <!--    <h1>-->
    <!--        Family List-->
    <!--    </h1>-->
    <!--    <ul class="breadcrumb" style="font-size: medium">-->
    <!--        {% for i in range(40) %}-->
    <!--            <li><a href="{{ url_for('trembl', family_id = i + 1) }}">{{ i + 1 }}</a> <span class="divider"></span>-->
    <!--            </li>-->
    <!--        {% endfor %}-->

    <!--    </ul>-->
    <!--</div>-->
    <div class="abstractOfPage">
        <div class="informationOfGene">
            <h1>
                Characterize
            </h1>
            <p>1 C-ring cleavage quercetin Bacillus subtilis (strain 168) a tryptophan auxotroph isolated after X-rays
                mutagenesis of B. subtilis>
        </div>
    </div>



    <table class="table" id="data-table">
        <thead>
        <tr>
            <th>Protein Name</th>
            <th>Strain</th>
            <th>Uniprot</th>
            <th>Family</th>
            <th>EC</th>
            <th>Sequence</th>
            <th hidden></th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.protein_enzyme }}</td>
                <td>{{ record.strain }}</td>
                <td><a href="https://www.uniprot.org/uniprot/{{ record.uniq_id }}">{{ record.uniq_id }}</a></td>
                <td>{{ record.family }}</td>
                {% if record.ec == '-1' %}
                    <td>{{ ' ' }}</td>
                {% else %}
                    <td>{{ record.ec }}</td>
                {% endif %}
                <td>
                    <a href={{ url_for('detail', unid = record.uniq_id) }}>view</a>
                </td>
                <td>
                    <p hidden>>{{ record.uniq_id }} {{ record.protein_enzyme }} OS={{ record.strain }}</p>
                    <p hidden style="max-width: 40ch; word-wrap:break-word;"> {{ record.seq }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
