{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    <!-- Main Content Area-->
    <div class="row">
        <div class="page-header">
            <h3>{{ name }}</h3>
        </div>
    </div>
        <div class="familyList">
        <h2>
            UHGP List
        </h2>
        <ul class="breadcrumb" style="font-size: medium">
            <li><a href="{{ url_for('uhgp', name_id = 'Africa') }}">Africa</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'Asia') }}">Asia</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'Europe') }}">Europe</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'North America') }}">North America</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'Oceania') }}">Oceania</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'South America') }}">South America</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'Others') }}">Others</a> <span
                    class="divider"></span>
            </li>
            <li><a href="{{ url_for('uhgp', name_id = 'Cluster') }}">Cluster</a> <span
                    class="divider"></span>
            </li>
        </ul>
    </div>
    <br>
    <div class="familyInformation">
        {{ content| safe }}
        <div>
            <table id="data-table" class="table display">
                <thead>
                <tr>
                    <th style="white-space: nowrap">Cluster ID</th>
                    <th style="white-space: nowrap">Gene ID</th>
                    <th style="white-space: nowrap">Name</th>
                    <th style="white-space: nowrap">Pfam</th>
                    <th style="white-space: nowrap">Type</th>
                    <th style="white-space: nowrap">Continent</th>
                    <th style="white-space: nowrap">Sequence</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                    <td>{{ record.cluster_id }}</td>
                    <td>{{ record.gene_id }}</td>
                    <td>{{ record.name }}</td>
                    <td>{{ record.pfam }}</td>
                    <td>{{ record.type }}</td>
                    <td>{{ record.continent }}</td>
                    <td><a href="{{ url_for('detail',mode='cluster', unid = record.gene_id) }}" target="_blank">view</a>
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script defer type="text/javascript">
        $(document).ready(function () {
            $('#data-table').DataTable({
                "initComplete": function () {
                    $("#data-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
                lengthMenu: [[10, 25, 50, -1], ['10 rows', '25 rows', '50 rows', 'Show all']],
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                    {
                        extend: 'csvHtml5',
                        fieldBoundary: '',
                        text: 'Export'
                    },
                    {
                        extend: 'copy',
                        fieldBoundary: '',
                        text: 'Copy',
                        title: '',
                        header: '\n'
                    }
                ],
                select: true
            });
        });
    </script>
{% endblock %}
