{% extends 'base.html' %}

{% block content%}
<table class="table" id="data-table">
  <thead>
    <tr>
      <th>db</th>
      <th>UniqueIdentifier</th>
      <th>EntryName</th>
      <th>Proteinname</th>
      <th>OrganismName</th>
      <th>OrganismIdentifier</th>
      <th>GeneName</th>
      <th>ProteinExistence</th>
      <th>SequenceVersio</th>
      <th>Sequence</th>
    </ul>
  </thead>
  <tbody>
    {% for record in records:%}
      <tr>
        <td>{{record.db}}</td>
        <td>{{record.uniq_id}}</td>
        <td>{{record.entry_name}}</td>
        <td>{{record.protein}}</td>
        <td>{{record.organism}}</td>
        <td>{{record.organism_id}}</td>
        <td>{{record.gene}}</td>
        <td>{{record.protein_exist}}</td>
        <td>{{record.seq_versio}}</td>
        <td>{{record.seq}}</td>
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}