html {
    background-image: url("../images/double-bubble-outline.png");
}
.image-header {
    background-image: url("../images/DNA.jpg");
    height:100px;
    background-size: cover;
}
/*.navbar.navbar-default {
    margin-bottom: 0px;
}*/
#version{
    color:white;
}

.mt-3 {
    margin-top: 1em;
}

.breadcrumb a:link {
    color: blue;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: darkred;
    text-decoration: underline;
    text-decoration: none;
}
